section{
    background-color: white;
}

h1{
    font-size: 70px;
    margin: 0;
}

h2{
    font-size: 30px;
}

footer{
    background-color: rgb(12, 12, 37);
    color: white;
    text-align: center;
    padding: 10px;
}

nav{
    display:flex;
    justify-content: space-between;
}

.picture{
    width: 300px;
    border-radius: 150px;
}

.picture-container{
    display: flex;
    align-items:center;
}

p{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.button{
    width: 100px;
    height: 35px;
    border-radius: 40px;
    background-color:  rgb(137, 161, 228);
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    padding-top: 0px;
    margin-top: 30px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: darkgray;
    color: #808080;
}

.slider-container{
    width: 800px;
    height: 600px;
}

.slideshow-container{
    width: 2400px;
    height:600px;
    position:relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: lesft 2s;
    -o-transition: left 2s;
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-coontainer{
    top:-20px;
    position: relative;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color:darkslateblue;
}

#BEACH:target ~ .slideshow-container{
    left: 0px;
}
#GitHub:target ~ .slideshow-container{
    left: -800px;
}
#LinkedIn:target ~ .slideshow-container{
    left: -1600px;
}